p,h1,label{
  font-family: 'Lato', sans-serif;
  font-size: 30px;
}

nav{
  background-color:#c4c4c4 !important;
}


.imag{
  width:70px;
  height:60px;
  float:left;
}

img{
  width:800px;
  height:500px;
}